# Mode (1 = random environment mode (default), 2 = loaded image mode)
mode=2

########### Settings relevant to random environment mode ###########
# Environment dimensions 100 by default
nrows=1000
ncols=1000
# Number of obstacles 10 by default
nb_of_obstacles=15
# Obstacle dimensions 10 20 10 20 by default
minWidth=20
maxWidth=200
minHeight=20
maxHeight=200
speedValue=5.0
# Seed randomness (updates at 1/sec)
randomSeed=0
# Can fix seed value instead (only if randomSeed=0)
seedValue=919171192
# -1132960916 
# 101320616
# -1449500684
# 194452620

########### Settings relevant to import image mode ###########
# image full path
imagePath=D:\OneDrive - KU Leuven\TRO\visibility-based-marching\images\compare.png

########### Solver settings ###########
initialFrontline={5, 5}
visibilityThreshold=0.5
# compute vstar path
vstar=1
# Compute the vstar path, 1 = vstar, 0 = continuous dijkstra. Applies also to astar solver.
greedy=1
# compute the visibility-based solver implementation path
visibilityBasedSolver=1
# compute MSFM in MATLAB
msfm=1
# setting limited to visibilityBasedSolver
expandInObstacles=0
# compute astar path
astar=1
# compute distance functions
distanceFunction=1
# Target
target_x=50
target_y=50
# Solver timer
timer=1

########### Output settings ###########
# master key, if 0, all are zero too
saveResults=1
saveCameFrom=1
saveGScore=1
saveFScore=1
saveLightSources=1
saveVisibilityField=1
saveSpeedField=1
savePath=1
saveDistanceFunction=1

# Turn to disable displaying loaded settings
silent=0